/* const buttonStyle = {
    fontSize: '16px',
    backgroundColor: '#00a5ab',
    width: '100px',
    margin: '10px',
    color: 'white',
    padding: '15px',
    borderRadius: '30px'
} */

button{
    font-size: 16px;
    background-color: #00a5ab;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border: 5px solid black;
}

.reset{
    background-color: purple;
    width: 150px;
}

.totalCount{
    color: #00a5ab;
    font-size: 150px;
    padding: 20px;
}